{% load static %}
{% load extra_settings %}
<footer class="pt-10 pt-lg-14 pb-10 footer">
    <div class="border-bottom pb-7 pb-lg-8">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-12 mb-lg-0 mb-11">
                    <ul class="list-inline fs-15px text-center text-lg-start mb-0">
                        <li class="list-inline-item me-9 pe-2"><a href="#" class="text-body-emphasis">About Us</a></li>
                        <li class="list-inline-item"><a href="#" class="text-body-emphasis">Contact Us</a></li>                        
                    </ul>
                </div>
                <div class="col-lg-4 col-12 mb-lg-0 mb-11">
                    <div class="mx-auto text-center">
                        <img class="lazy-image img-fluid light-mode-img" src="#" data-src="{% get_media_prefix %}{% get_setting 'LOGO' %}" width="184" height="49" alt="{% get_setting 'WEBSITE_NAME' %}">
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <ul class="list-inline fs-15px text-center text-lg-end mb-0">
                        <li class="list-inline-item me-9 pe-2"><a href="#" class="text-body-emphasis">Shipping & Return Policy</a></li>
                        <li class="list-inline-item"><a href="{% url 'orders:find_my_orders_view' %}" class="text-body-emphasis">My Orders</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-9 pt-lg-8">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
                    <p class="mb-0">&copy; {% get_setting 'WEBSITE_NAME' %} {% now "Y" %}</p>
                    <ul class="list-inline fs-18px ms-6 mb-0">
                        <li class="list-inline-item me-8">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item me-8">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item me-8">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end mt-8 mt-md-0">
                    <img src="#" data-src="{% static 'assets/images/footer/img_1.png' %}" width="313" height="28" alt="Paypal"
                        class="img-fluid lazy-image">
                </div>
            </div>

        </div>
    </div>
</footer>