{% load static %}
{% load extra_settings %}
<div id="searchModal" data-bs-scroll="false" class="offcanvas offcanvas-top" style="--bs-offcanvas-height: auto">
    <div class="container-wide container-xxl">
        <nav class="navbar navbar-expand-xl px-0 py-6 py-xl-12 row align-items-start">
            <div class="col-xl-3 d-flex justify-content-center justify-content-xl-start">
                <a href="/" class="navbar-brand py-4 d-lg-inline-block">
                    <img src="{% get_media_prefix %}{% get_setting 'LOGO' %}" height="72"
                        alt="{% get_setting 'WEBSITE_NAME' %}">
                </a>
            </div>
            <div class="col-xl-6 d-flex justify-content-center">
                <form class="w-xl-100 w-sm-75 w-100 mt-6 mt-xl-0 px-6 px-xl-0">
                    <div class="input-group mx-auto">
                        <input type="text" class="form-control form-control bg-transparent border-primary"
                            placeholder="Search product">
                        <div
                            class="form-control-append position-absolute end-0 top-0 bottom-0 d-flex align-items-center">
                            <button class="input-group-text bg-transparent border-0 px-0 me-6" type="submit">
                                <i class="far fa-search fs-5"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mt-6">
                        <p class="text-muted mb-0 mr-3">Popular Searches</p>
                        <nav class="nav">
                            <a class="nav-link text-decoration-underline py-0 px-4" href="#">T-Shirt</a>
                            <a class="nav-link text-decoration-underline py-0 px-4" href="#">Blue</a>
                            <a class="nav-link text-decoration-underline py-0 px-4" href="#">Jacket</a>
                        </nav>
                    </div>
                </form>
            </div>
            <div class="icons-actions col-xl-3 d-flex justify-content-end fs-28px text-body-emphasis">
                <div class="px-5 d-none d-xl-inline-block">
                    <a class="lh-1 color-inherit text-decoration-none" href="#" data-bs-toggle="modal"
                        data-bs-target="#signInModal">
                        <svg class="icon icon-user-light">
                            <use xlink:href="#icon-user-light"></use>
                        </svg>
                    </a>
                </div>
                <div class="px-5 d-none d-xl-inline-block">
                    <a class="position-relative lh-1 color-inherit text-decoration-none" href="shop/wishlist.html">
                        <svg class="icon icon-star-light">
                            <use xlink:href="#icon-star-light"></use>
                        </svg>
                        <span
                            class="badge bg-dark text-white position-absolute top-0 start-100 translate-middle mt-4 rounded-circle fs-13px p-0 square"
                            style="--square-size: 18px">3</span>
                    </a>
                </div>
                <div class="px-5 d-none d-xl-inline-block">
                    <a class="position-relative lh-1 color-inherit text-decoration-none" href="#"
                        data-bs-toggle="offcanvas" data-bs-target="#shoppingCart" aria-controls="shoppingCart"
                        aria-expanded="false">
                        <svg class="icon icon-star-light">
                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                        </svg>
                        <span
                            class="badge bg-dark text-white position-absolute top-0 start-100 translate-middle mt-4 rounded-circle fs-13px p-0 square"
                            style="--square-size: 18px">3</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div id="shoppingCart" data-bs-scroll="false" class="offcanvas offcanvas-end">
    <div class="offcanvas-header fs-4">
        <h4 class="offcanvas-title fw-semibold">Shopping Bag</h4>
        <button type="button" class="btn-close btn-close-bg-none" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="far fa-times"></i>
        </button>
    </div>
    <div class="offcanvas-body me-xl-auto pt-0 mb-2 mb-xl-0">
        <form class="table-responsive-md shopping-cart pb-8 pb-lg-10">
            <table class="table table-borderless">
                <thead>
                    <tr class="fw-500">
                        <td colspan="3" class="border-bottom pb-6"><i
                                class="far fa-check fs-12px border me-4 px-2 py-1 text-body-emphasis border-dark rounded-circle"></i>
                            Your cart is saved for the next <span class="text-body-emphasis">4m34s</span></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="position-relative">
                        <td class="align-middle text-center">
                            <a href="#" class="d-block clear-product">
                                <i class="far fa-times"></i>
                            </a>
                        </td>
                        <td class="shop-product">
                            <div class="d-flex align-items-center">
                                <div class="me-6">
                                    <img src="{% static 'assets/images/products/product-03-75x100.jpg' %}" width="60"
                                        height="80" alt="natural coconut cleansing oil">
                                </div>
                                <div class="">
                                    <p class="card-text mb-1">
                                        <span class="fs-13px fw-500 text-decoration-line-through pe-3">$39.00</span>
                                        <span class="fs-15px fw-bold text-body-emphasis">$29.00</span>

                                    </p>
                                    <p class="fw-500 text-body-emphasis">Natural Coconut Cleansing Oil</p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle p-0">
                            <div class="input-group position-relative shop-quantity">
                                <a href="#" class="shop-down position-absolute z-index-2"><i
                                        class="far fa-minus"></i></a>
                                <input name="number[]" type="number"
                                    class="form-control form-control-sm px-6 py-4 fs-6 text-center border-0" value="1"
                                    required="">
                                <a href="#" class="shop-up position-absolute z-index-2"><i class="far fa-plus"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="position-relative">
                        <td class="align-middle text-center">
                            <a href="#" class="d-block clear-product">
                                <i class="far fa-times"></i>
                            </a>
                        </td>
                        <td class="shop-product">
                            <div class="d-flex align-items-center">
                                <div class="me-6">
                                    <img src="{% static 'assets/images/products/product-06-75x100.jpg' %}" width="60"
                                        height="80" alt="natural coconut cleansing oil">
                                </div>
                                <div class="">
                                    <p class="card-text mb-1">
                                        <span class="fs-13px fw-500 text-decoration-line-through pe-3">$39.00</span>
                                        <span class="fs-15px fw-bold text-body-emphasis">$29.00</span>

                                    </p>
                                    <p class="fw-500 text-body-emphasis">Super Pure</p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle p-0">
                            <div class="input-group position-relative shop-quantity">
                                <a href="#" class="shop-down position-absolute z-index-2"><i
                                        class="far fa-minus"></i></a>
                                <input name="number[]" type="number"
                                    class="form-control form-control-sm px-6 py-4 fs-6 text-center border-0" value="1"
                                    required="">
                                <a href="#" class="shop-up position-absolute z-index-2"><i class="far fa-plus"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="position-relative">
                        <td class="align-middle text-center">
                            <a href="#" class="d-block clear-product">
                                <i class="far fa-times"></i>
                            </a>
                        </td>
                        <td class="shop-product">
                            <div class="d-flex align-items-center">
                                <div class="me-6">
                                    <img src="{% static 'assets/images/products/product-09-75x100.jpg' %}" width="60"
                                        height="80" alt="natural coconut cleansing oil">
                                </div>
                                <div class="">
                                    <p class="card-text mb-1">
                                        <span class="fs-13px fw-500 text-decoration-line-through pe-3">$39.00</span>
                                        <span class="fs-15px fw-bold text-body-emphasis">$29.00</span>

                                    </p>
                                    <p class="fw-500 text-body-emphasis">Cleansing Balm</p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle p-0">
                            <div class="input-group position-relative shop-quantity">
                                <a href="#" class="shop-down position-absolute z-index-2"><i
                                        class="far fa-minus"></i></a>
                                <input name="number[]" type="number"
                                    class="form-control form-control-sm px-6 py-4 fs-6 text-center border-0" value="1"
                                    required="">
                                <a href="#" class="shop-up position-absolute z-index-2"><i class="far fa-plus"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="offcanvas-footer flex-wrap">
        <div class="d-flex align-items-center justify-content-between w-100 mb-5">
            <span class="text-body-emphasis">Total price:</span>
            <span class="cart-total fw-bold text-body-emphasis">$106.00</span>
        </div>
        <a href="https://templates.g5plus.net/shop/checkout.html" class="btn btn-dark w-100 mb-7"
            title="Check Out">Check Out</a>
        <a href="https://templates.g5plus.net/shop/shopping-cart.html" class="btn btn-outline-dark w-100"
            title="View shopping cart">View shopping cart</a>
    </div>
</div>

<div class="modal" id="signInModal" tabindex="-1" aria-labelledby="signInModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center border-0 pb-0">
                <button type="button" class="btn-close position-absolute end-5 top-5" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <h3 class="modal-title w-100" id="signInModalLabel">Sign In</h3>
            </div>
            <div class="modal-body px-sm-13 px-8">
                <p class="text-center fs-16 mb-10">Don’t have an account yet? <a href="#" data-bs-toggle="modal"
                        data-bs-target="#signUpModal" class="text-black">Sign up</a> for free</p>
                <form action="#">
                    <input name="email" type="email" class="form-control mb-5" placeholder="Your email" required>
                    <input name="password" type="password" class="form-control" placeholder="Password" required>
                    <div class="d-flex align-items-center justify-content-between mt-8 mb-7">
                        <div class="custom-control d-flex form-check">
                            <input name="stay-signed-in" type="checkbox" class="form-check-input rounded-0 me-3"
                                id="staySignedIn">
                            <label class="custom-control-label text-body" for="staySignedIn">Stay signed in</label>
                        </div>
                        <a href="#" class="text-secondary">Forgot your password?</a>
                    </div>
                    <button type="submit" value="Login"
                        class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary w-100">Log In</button>
                </form>
            </div>
            <div class="modal-footer px-13 pt-0 pb-12 border-0">
                <div class="border-bottom w-100"></div>
                <div class="text-center lh-1 mb-8 w-100 mt-n5">
                    <span class="fs-14 bg-body lh-1 px-4">or Log-in with</span>
                </div>
                <div class="d-flex w-100">
                    <a href="#"
                        class="btn btn-outline-secondary w-100 border-2x me-5 btn-hover-bg-primary btn-hover-border-primary"><i
                            class="fab fa-facebook-f me-4" style="color: #2E58B2"></i>Facebook</a>
                    <a href="#"
                        class="btn btn-outline-secondary w-100 border-2x mt-0 btn-hover-bg-primary btn-hover-border-primary"><i
                            class="fab fa-google me-4" style="color: #DD4B39"></i>Google</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center border-0 pb-0">
                <button type="button" class="btn-close position-absolute end-5 top-5" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <h3 class="modal-title w-100" id="signUpModalLabel">Sign Up</h3>
            </div>
            <div class="modal-body px-sm-13 px-8">
                <p class="text-center fs-16 mb-10">Already have an account? <a href="#" data-bs-toggle="modal"
                        data-bs-target="#signInModal" class="text-black">Log in</a></p>
                <form action="#">
                    <input name="first-name" type="text" class="form-control border-1 mb-5" placeholder="First name"
                        required>
                    <input name="last-name" type="text" class="form-control border-1 mb-5" placeholder="Last name"
                        required>
                    <input name="email" type="email" class="form-control border-1 mb-5" placeholder="Your email"
                        required>
                    <input name="password" type="password" class="form-control border-1" placeholder="Password"
                        required>
                    <div class="d-flex align-items-center mt-8 mb-7">
                        <div class="form-check">
                            <input name="agree-policy-terms" type="checkbox" class="form-check-input rounded-0 me-3"
                                id="agreePolicyTerm">
                            <label class="custom-control-label text-body" for="agreePolicyTerm">Yes, I agree with
                                Grace <a href="#" class="text-black">Privacy Policy</a> and <a href="#"
                                    class="text-black">Terms of Use</a></label>
                        </div>
                    </div>
                    <button type="submit" value="Sign Up"
                        class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary w-100">Sign Up</button>
                </form>
            </div>
            <div class="modal-footer px-13 pt-0 pb-12 border-0">
                <div class="border-bottom w-100"></div>
                <div class="text-center lh-1 mb-8 w-100 mt-n5">
                    <span class="fs-14 bg-body lh-1 px-4">or Sign Up with</span>
                </div>
                <div class="d-flex w-100">
                    <a href="#"
                        class="btn btn-outline-secondary w-100 border-2x me-5 btn-hover-bg-primary btn-hover-border-primary"><i
                            class="fab fa-facebook-f me-4" style="color: #2E58B2"></i>Facebook</a>
                    <a href="#"
                        class="btn btn-outline-secondary w-100 border-2x mt-0 btn-hover-bg-primary btn-hover-border-primary"><i
                            class="fab fa-google me-4" style="color: #DD4B39"></i>Google</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar">
    <div id="offCanvasNavBar" class="offcanvas offcanvas-start" style="--bs-offcanvas-width: 310px">

        <div class="offcanvas-header bg-body-tertiary">
            <h3 class="offcanvas-title text-uppercase">{% get_setting 'WEBSITE_NAME' %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class="mt-0">
        <div class="offcanvas-body pt-0 mb-2">
            <ul class="navbar-nav">
                <li class="nav-item transition-all-xl-1 py-0">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px"
                        href="/" id="menu-item-home-canvas" aria-expanded="false">
                        Home
                    </a>
                </li>
                <li class="nav-item transition-all-xl-1 py-0 position-static">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px"
                        href="{% url 'products:shop' %}" id="menu-item-shop-canvas" aria-expanded="false">
                        Shop
                    </a>
                </li>
            </ul>
        </div>
        <hr class="mb-0">
        <div class="offcanvas-footer bg-body-tertiary">
            &copy; {% get_setting 'WEBSITE_NAME' %} {% now "Y" %}<br>
            All rights reserved.
        </div>
    </div>
</div>

<div class="position-fixed z-index-10 bottom-0 end-0 p-10">
    <a href="#"
        class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
        title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
</div>