{% load static %}
{% load extra_settings %}
{% load djmoney %}
{% load easy_thumbnails_tags %}
<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {% include 'base/head.html' with title='Checkout' %}
</head>

<body>

    {% include "base/header.html" %}

    <main id="content" class="wrapper layout-page">

        <section class="z-index-2 position-relative pb-2 mb-12">
            <div class="bg-body-secondary mb-3">
                <div class="container">
                    <nav class="py-4 lh-30px" aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center py-1 mb-0">
                            <li class="breadcrumb-item"><a title="Home" href="/">Home</a></li>
                            <li class="breadcrumb-item"><a title="Cart" href="{% url 'carts:cart_view' %}">Cart</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Check Out</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        
        <section class="container pb-14 pb-lg-19">
            <div class="text-center"><h2 class="mb-6">Check out</h2></div>

            <form method="post" class="pt-12">
                {% csrf_token %}

                <div class="row">

                    <div class="col-lg-4 pb-lg-0 pb-14 order-lg-last">
                        <div class="card border-0 rounded-0 shadow">
                            <div class="card-header px-0 mx-10 bg-transparent py-8">
                                <h4 class="fs-4 mb-8">Order Summary</h4>
                                {% for item in cart_items %}
                                <div class="d-flex w-100 mb-7">
                                    <div class="me-6">
                                        <img src="#" data-src="{{ item.product.main_image.image|thumbnail_url:'product_thumbnail' }}" class="lazy-image" width="60" height="80" alt="{{ item.product.name }}">
                                    </div>
                                    <div class="d-flex flex-grow-1">
                                        <div class="pe-6">
                                            <a href="{% url 'products:product-details' item.product.slug %}" class="">{{ item.product.name }}<span class="text-body">x{{ item.quantity }}</span></a>
                                            {% if item.note|length > 0 %}
                                            <p class="fs-14px text-body-emphasis mb-0 mt-1">Note:
                                                <span class="text-body" data-bs-toggle="tooltip" data-bs-title="{{ item.note }}">{{ item.note|truncatechars:16 }}</span>
                                            </p>
                                            {% endif %}
                                        </div>
                                        <div class="ms-auto">
                                            <p class="fs-14px text-body-emphasis mb-0 fw-bold">{% money_localize item.total %}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="card-body px-10 py-8">
                                <div class="d-flex align-items-center mb-2">
                                    <span>Subtotal:</span>
                                    <span class="d-block ms-auto text-body-emphasis fw-bold">{% money_localize cart_total %}</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span>Shipping:</span>
                                    <span class="d-block ms-auto text-body-emphasis fw-bold">LKR0</span>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent py-5 px-0 mx-10">
                                <div class="d-flex align-items-center fw-bold mb-6">
                                    <span class="text-body-emphasis p-0">Total pricre:</span>
                                    <span class="d-block ms-auto text-body-emphasis fs-4 fw-bold">{% money_localize cart_total %}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 order-lg-first pe-xl-20 pe-lg-6">
                        <div class="checkout">
                            <p class="mb-5">Returning customer?
                                <a href="#" data-bs-toggle="modal" data-bs-target="#signInModal">Click here to login</a>
                            </p>
                            <h4 class="fs-4 pt-4 mb-7">Shipping Information</h4>

                            <div class="mb-7">
                                <label class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">name</label>
                                <div class="row">
                                    <div class="col-md-6 mb-md-0 mb-7">
                                        <input type="text" class="form-control" id="first-name" name="firstname" placeholder="First Name" required="">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="last-name" name="lastname" placeholder="Last Name" required="">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-7">
                                <div class="row">
                                    <div class="col-md-8 mb-md-0 mb-7">
                                        <label for="street-address" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Street Address</label>
                                        <input type="text" class="form-control" id="street-address" name="streetaddress" required="">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="apt" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">APT/Suite</label>
                                        <input type="text" class="form-control" id="apt" name="apt">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-7">
                                <div class="row">
                                    <div class="col-md-4 mb-md-0 mb-7">
                                        <label for="city" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">City</label>
                                        <input type="text" class="form-control" id="city" name="city" required="">
                                    </div>
                                    <div class="col-md-4 mb-md-0 mb-7">
                                        <label for="state" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">State</label>
                                        <input type="text" class="form-control" id="state" name="state">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="zip" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">zip code</label>
                                        <input type="text" class="form-control" id="zip" name="zip" required="">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-7">
                                <label for="country" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Country</label>
                                <input type="text" class="form-control" id="country" name="country" required="">
                            </div>

                            <div class="mb-7">
                                <label class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">info</label>
                                <div class="row">
                                    <div class="col-md-6 mb-md-0 mb-7">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone number" required="">
                                    </div>
                                </div>
                            </div>

                            <div class="mt-6 mb-5 form-check">
                                <input type="checkbox" class="form-check-input rounded-0 me-4" name="is-same-billing-ads" id="is-same-billing-ads">
                                <label class="text-body-emphasis" for="is-same-billing-ads">
                                    <span class="text-body-emphasis">Billing address is the same as shipping</span>
                                </label>
                            </div>
                            <div class="mt-6 mb-5 form-check">
                                <input type="checkbox" class="form-check-input rounded-0 me-4" name="is-correct-phone" id="is-correct-phone" required>
                                <label class="text-body-emphasis" for="is-correct-phone">
                                    <span class="text-body-emphasis">I entered correct phone number (with country code for overseas)</span>
                                </label>
                            </div>
                        </div>

                        <div class="checkout mb-7">
                            <div class="mb-7">
                                <h4 class="fs-4 mb-8 mt-12 pt-lg-1">Payment Infomation</h4>

                                <div class="nav nav-tabs border-0">
                                    <a class="btn btn-payment px-12 mx-2 py-6 me-7 my-3 nav-link active" data-bs-toggle="tab" data-bs-target="#banktransfer-tab">
                                        <i class="fa-solid fa-building-columns fs-32px"></i>
                                        <span class="ms-3 text-body-emphasis fw-semibold fs-6">Bank Transfer</span>
                                    </a>

                                    <a class="btn btn-payment px-12 mx-2 py-6 me-7 my-3 nav-link" data-bs-toggle="tab" data-bs-target="#cod-tab">
                                        <i class="fa-solid fa-truck-fast fs-32px"></i>
                                        <span class="ms-3 text-body-emphasis fw-semibold fs-6">Cash on Delivery</span>
                                    </a>

                                </div>
                                <div class="tab-content mt-7">
                                    <div class="tab-pane fade" id="banktransfer-tab">
                                        <div>
                                            <p>You will receive the details after placing the order.</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane active show fade" id="cod-tab">
                                        <div>
                                            <p>Our sales team will contact you for collecting further details after placing the order.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary px-11 mt-md-7 mt-4">Place Order</button>
                        </div>

                    </div>
                </div>
            </form>
        </section>

    </main>

    {% include 'base/footer.html' %}

    {% include 'base/scripts.html' %}

    {% include 'base/svg-icons.html' %}
    {% include 'base/modals.html' %}

</body>

</html>