{% load static %}
{% load extra_settings %}
{% load djmoney %}
{% load easy_thumbnails_tags %}
<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {% include 'base/head.html' with title='Shopping Cart' %}
</head>

<body>

    {% include "base/header.html" %}

    <main id="content" class="wrapper layout-page">

        <section class="z-index-2 position-relative pb-2 mb-12">

			<div class="bg-body-secondary mb-3">
				<div class="container">
					<nav class="py-4 lh-30px" aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center py-1 mb-0">
							<li class="breadcrumb-item"><a title="Home" href="/">Home</a></li>
							<li class="breadcrumb-item"><a title="Shop" href="{% url 'products:shop' %}">Shop</a></li>
							<li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>

		<section class="container">
			<div class="shopping-cart">
				<h2 class="text-center fs-2 mt-12 mb-13">Shopping Cart</h2>
				{% if cart_items|length == 0 %}
				<div class="container text-center">
					<div class="row">
						<div id="main-content" class="col">
							<div class="content-404-wrapper">
								<h1 class="fs-160px"><i class="fa-solid fa-cart-shopping"></i></h1>
								<h4 class="fs-3 mb-5">Your cart is empty</h4>
								<p class="mb-11">Looks like you haven't made your choice yet</p>
								<a href="{% url 'products:shop' %}" class="btn btn-dark btn-hover-border-primary btn-hover-bg-primary">Shop All Product</a>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<form method="POST" class="table-responsive-md pb-8 pb-lg-10">
					{% csrf_token %}
					<table class="table border">
						<thead class="bg-body-secondary">
							<tr class="fs-15px letter-spacing-01 fw-semibold text-uppercase text-body-emphasis">
								<th scope="col" class="fw-semibold border-1 ps-11">products</th>
								<th scope="col" class="fw-semibold border-1">additional note</th>
								<th scope="col" class="fw-semibold border-1">quantity</th>
								<th colspan="2" class="fw-semibold border-1">Price</th>
							</tr>
						</thead>
						<tbody>
                            {% for item in cart_items %}
							<tr class="position-relative {% if item.product.stock == 0 %}opacity-50{% endif %}">
								<th scope="row" class="pe-5 ps-8 py-7 shop-product">
									<div class="d-flex align-items-center">
										<!-- <div class="form-check">
											<input class="form-check-input rounded-0" type="checkbox" name="check-product" value="checkbox">
										</div> -->
										<div class="ms-6 me-7">
											<img src="#" data-src="{{ item.product.main_image.image|thumbnail_url:'product_thumbnail' }}"
												class="lazy-image" width="75" height="100"
												alt="{{ item.product.name }}">
										</div>
										<div class="">
											<p class="fw-500 mb-1 text-body-emphasis">{{ item.product.name }}</p>
											<p class="card-text">
                                                {% if item.product.has_discount %}
												<span class="fs-13px fw-500 text-decoration-line-through pe-3">{% money_localize item.product.price %}</span>
                                                {% endif %}
												<span class="fs-15px fw-bold text-body-emphasis">{% money_localize item.product.net_price %}</span>
											</p>
										</div>
									</div>
                                    
                                    {% if item.product.stock == 0 %}
                                    <div class="position-absolute top-0 start-0">
										<span class="badge rounded-0 text-uppercase fs-14px px-5 py-4 product-stock ls-1 fw-semibold p-0">out of stock</span>
									</div>
                                    {% endif %}

								</th>
								<td class="align-middle">
									{% if not item.product.stock == 0 %}
									<div>
										<!-- <input name="notes[{{ item.product.id }}]" class="form-control form-control-sm py-4" type="text" placeholder="Sizes, Customizations etc." value="{{ item.note }}"> -->
										<!-- <label for="exampleFormControlTextarea1" class="form-label">Additional Note</label> -->
										<textarea name="notes[{{ item.product.id }}]" class="form-control form-control-sm py-4">{{ item.note }}</textarea>
									</div>
									{% endif %}
								</td>
								<td class="align-middle">
									<div class="input-group position-relative shop-quantity">
										<a href="#" class="shop-down position-absolute z-index-2"><i class="far fa-minus"></i></a>
										<input name="quantities[{{ item.product.id }}]" type="number" min="1" class="form-control form-control-sm px-10 py-4 fs-6 text-center border-0" value="{{ item.quantity }}" required="" {% if item.product.stock == 0 %}disabled{% endif %}>
										<a href="#" class="shop-up position-absolute z-index-2"><i class="far fa-plus"></i></a>
									</div>
								</td>
								<td class="align-middle">
									<p class="mb-0 text-body-emphasis fw-bold mr-xl-11">{% money_localize item.total %}</p>
								</td>
								<td class="align-middle text-end pe-8">
									<button type="submit" name="remove" value="{{ item.product.id }}" class="btn btn-link text-secondary p-0">
										<i class="fa fa-times"></i>
									</button>
								</td>
							</tr>
                            {% endfor %}

							<tr>
								<td class="pt-5 pb-10 position-relative bg-body ps-0 left">
									<a href="{% url 'products:shop' %}" title="Countinue Shopping" class="btn btn-outline-dark me-8 text-nowrap my-5">
										Countinue Shopping
									</a>
									<button type="submit" name="action" value="clear" class="btn btn-link p-0 border-0 border-bottom border-secondary text-decoration-none rounded-0 my-5 fw-semibold ">
										<i class="fa fa-times me-3"></i>
										Clear Shopping Cart
									</button>
								</td>
								<td colspan="3" class="text-end pt-5 pb-10 position-relative bg-body right pe-0">
									<button type="submit" name="action" value="update" class="btn btn-outline-dark my-5">
                                        Update Cart
									</button>
								</td>
							</tr>

						</tbody>
					</table>
				</form>
				<div class="row justify-content-end pt-8 pt-lg-11 pb-16 pb-lg-18">
					<div class="col-lg-4 pt-lg-0 pt-11">
						<div class="card border-0" style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.1)">
							<div class="card-body px-9 pt-6">
								<div class="d-flex align-items-center justify-content-between mb-5">
									<span>Subtotal:</span>
									<span class="d-block ml-auto text-body-emphasis fw-bold">{% money_localize cart_total %}</span>
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<span>Shipping:</span>
									<span class="d-block ml-auto text-body-emphasis fw-bold">LKR0</span>
								</div>
							</div>
							<div class="card-footer bg-transparent px-0 pt-5 pb-7 mx-9">
								<div class="d-flex align-items-center justify-content-between fw-bold mb-7">
									<span class="text-secondary text-body-emphasis">Total pricre:</span>
									<span class="d-block ml-auto text-body-emphasis fs-4 fw-bold">{% money_localize cart_total %}</span>
								</div>
								<a href="{% url 'carts:checkout' %}"
									class="btn w-100 btn-dark btn-hover-bg-primary btn-hover-border-primary"
									title="Check Out">Check Out</a>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</section>

    </main>

    {% include 'base/footer.html' %}

    {% include 'base/scripts.html' %}

    {% include 'base/svg-icons.html' %}
    {% include 'base/modals.html' %}
    
</body>

</html>