{% load static %}
<section class="pt-lg-10 pt-10 pb-lg-10 pb-10">

    <div>
        <div class="mx-n0 slick-slider"
            data-slick-options='{"slidesToShow": 6,"infinite":false,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1366,"settings": {"slidesToShow":5 }},{"breakpoint": 992,"settings": {"slidesToShow":4}},{"breakpoint": 768,"settings": {"slidesToShow": 3}},{"breakpoint": 576,"settings": {"slidesToShow": 2}}]}'>

            <div class="px-0" data-animate="fadeInUp">
                <a href="{% static 'assets/images/instagram/instagram-01.jpg' %}" title="instagram-01"
                    data-gallery="instagram"
                    class=" hover-zoom-in hover-shine  card-img-overlay-hover hover-zoom-in hover-shine d-block">
                    <img class="lazy-image img-fluid w-100" width="314" height="314"
                        data-src="{% static 'assets/images/instagram/instagram-01-320x320.jpg' %}" alt="instagram-01" src="#">
                    <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                </a>
            </div>

            <div class="px-0" data-animate="fadeInUp">
                <a href="{% static 'assets/images/instagram/instagram-02.jpg' %}" title="instagram-02"
                    data-gallery="instagram"
                    class=" hover-zoom-in hover-shine  card-img-overlay-hover hover-zoom-in hover-shine d-block">
                    <img class="lazy-image img-fluid w-100" width="314" height="314"
                        data-src="{% static 'assets/images/instagram/instagram-02-320x320.jpg' %}" alt="instagram-02" src="#">
                    <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                </a>
            </div>

            <div class="px-0" data-animate="fadeInUp">
                <a href="{% static 'assets/images/instagram/instagram-03.jpg' %}" title="instagram-03"
                    data-gallery="instagram"
                    class=" hover-zoom-in hover-shine  card-img-overlay-hover hover-zoom-in hover-shine d-block">
                    <img class="lazy-image img-fluid w-100" width="314" height="314"
                        data-src="{% static 'assets/images/instagram/instagram-03-320x320.jpg' %}" alt="instagram-03" src="#">
                    <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                </a>
            </div>

            <div class="px-0" data-animate="fadeInUp">
                <a href="{% static 'assets/images/instagram/instagram-04.jpg' %}" title="instagram-04"
                    data-gallery="instagram"
                    class=" hover-zoom-in hover-shine  card-img-overlay-hover hover-zoom-in hover-shine d-block">
                    <img class="lazy-image img-fluid w-100" width="314" height="314"
                        data-src="{% static 'assets/images/instagram/instagram-04-320x320.jpg' %}" alt="instagram-04" src="#">
                    <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                </a>
            </div>

            <div class="px-0" data-animate="fadeInUp">
                <a href="{% static 'assets/images/instagram/instagram-05.jpg' %}" title="instagram-05"
                    data-gallery="instagram"
                    class=" hover-zoom-in hover-shine  card-img-overlay-hover hover-zoom-in hover-shine d-block">
                    <img class="lazy-image img-fluid w-100" width="314" height="314"
                        data-src="{% static 'assets/images/instagram/instagram-05-320x320.jpg' %}" alt="instagram-05" src="#">
                    <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                </a>
            </div>

            <div class="px-0" data-animate="fadeInUp">
                <a href="{% static 'assets/images/instagram/instagram-06.jpg' %}" title="instagram-06"
                    data-gallery="instagram"
                    class=" hover-zoom-in hover-shine  card-img-overlay-hover hover-zoom-in hover-shine d-block">
                    <img class="lazy-image img-fluid w-100" width="314" height="314"
                        data-src="{% static 'assets/images/instagram/instagram-06-320x320.jpg' %}" alt="instagram-06" src="#">
                    <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                </a>
            </div>

            <div class="px-0" data-animate="fadeInUp">
                <a href="{% static 'assets/images/instagram/instagram-02.jpg' %}" title="instagram-02"
                    data-gallery="instagram"
                    class=" hover-zoom-in hover-shine  card-img-overlay-hover hover-zoom-in hover-shine d-block">
                    <img class="lazy-image img-fluid w-100" width="314" height="314"
                        data-src="{% static 'assets/images/instagram/instagram-02-320x320.jpg' %}" alt="instagram-02" src="#">
                    <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                </a>
            </div>
            
        </div>


    </div>
</section>