{% load static %}
<section class=" collection-bx content-inner-3 overflow-hidden">
    <div class="container">
        <h2 class="title wow fadeInUp" data-wow-delay="0.2s">Upgrade your style with our top-notch collection.</h2>
        <div class="text-center">
            <a href="shop-list.html" class="btn btn-secondary btn-lg wow fadeInUp m-b30" data-wow-delay="0.4s">All
                Collections</a>
        </div>
    </div>
    <!-- <div class="collection1"><img src="{% static 'images/collection/1.png' %}" alt=""></div>
    <div class="collection2"><img src="{% static 'images/collection/2.png' %}" alt=""></div>
    <div class="collection3"><img src="{% static 'images/collection/3.png' %}" alt=""></div>
    <div class="collection4"><img src="{% static 'images/collection/4.png' %}" alt=""></div>
    <div class="collection5"><img src="{% static 'images/collection/5.png' %}" alt=""></div> -->
</section>