{% load static %}
<header class="site-header mo-left header style-1 {% if request.path == '/' %}header-transparent{% endif %}">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix">
            <div class="container-fluid clearfix d-lg-flex d-block">
                <!-- Website Logo -->
                <div class="logo-header logo-dark me-md-5">
                    <a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                </div>

                <!-- Nav Toggle Button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <!-- Main Nav -->
                <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                    <div class="logo-header logo-dark">
                        <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="sub-menu-down">
                            <a href="/">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="sub-menu-down">
                            <a href="/shop">
                                <span>Shop</span>
                            </a>
                        </li>
                        <li class="sub-menu-down">
                            <a href="javascript:void(0);" class="after-remover">My Account
                                <span class="badge badge-sm badge-success ms-1">New</span>
                                <i class="fas fa-chevron-down tabindex"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="account-profile.html">Profile</a></li>
                                <li><a href="account-orders.html">Orders</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="dz-social-icon">
                        <ul>
                            <li>
                                <a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/dexignzone"></a>
                            </li>
                            <li>
                                <a class="fab fa-twitter" target="_blank" href="https://twitter.com/dexignzones"></a>
                            </li>
                            <li>
                                <a class="fab fa-linkedin-in" target="_blank" href="https://www.linkedin.com/showcase/3686700/admin/"></a>
                            </li>
                            <li>
                                <a class="fab fa-instagram" target="_blank" ref="https://www.instagram.com/dexignzone/"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Header End -->

</header>