{% load static %}
{% load custom %}
<div class="main-slider-wrapper">
    <div class="slider-inner">
        <div class="row">
            <div class="col-lg-6">
                <div class="slider-main">
                    {% for d in home_slider_data %}
                    <div class="slick-slide">
                        <div class="content-info">
                            <h1 class="title wow fadeInUp" data-wow-delay="0.2s">{{d.title}}</h1>
                            <div class="swiper-meta-items wow fadeInUp" data-wow-delay="0.4s">
                                {% if d.price_from %}
                                <div class="meta-content">
                                    <span class="price-name">Price From</span>
                                    <span class="price-num d-inline-block">{{d.price_from|currency}}</span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="content-btn m-b30 wow fadeInUp" data-wow-delay="0.8s">
                                <a href="#"
                                    class="btn btn-secondary me-xl-3 me-2 btnhover20">ADD TO CART</a>
                                <a href="#"
                                    class="btn btn-outline-secondary btnhover20">VIEW DETAIL </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="slider-thumbs">
                    {% for d in home_slider_data %}
                    <div class="slick-slide">
                        <div class="banner-media" data-name="{{d.category}}">
                            <div class="img-preview">
                                <img src="{% get_media_prefix %}{{d.image}}" alt="banner-media">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="bottom-content align-items-end wow fadeInUp" data-wow-delay="1.0s">
            <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" viewbox="0 0 76 76" fill="none">
                <path
                    d="M52.6617 37.6496L58.7381 40.0325L75.0609 49.0874L66.6016 63.7422L49.9214 54.6872L45.1557 50.7554L46.1088 57.1892V75.18H28.952V57.1892L30.0243 50.5171L24.9011 54.6872L8.45924 63.7422L0 49.0874L16.3228 39.7942L22.3991 37.6496L16.3228 35.1475L0 26.2117L8.45924 11.557L25.1394 20.4928L30.0243 24.6629L28.952 18.3482V0H46.1088V18.3482L45.1557 24.4246L49.9214 20.4928L66.6016 11.557L75.0609 26.2117L58.7381 35.3858L52.6617 37.6496Z"
                    fill="black" />
            </svg>
            <div>
                <span class="sub-title">Season Collection</span>
                <h4 class="title">Trendy and Classic for the New Season</h4>
            </div>
        </div>
    </div>
</div>