{% load static %}
<section class="content-inner-2">
    <div class="container">
        <div class="section-head style-1 wow fadeInUp d-flex justify-content-between m-b30" data-wow-delay="0.2s">
            <div class="left-content">
                <h2 class="title">Featured offer for you</h2>
            </div>
            <a href="shop-list.html" class="text-secondary font-14 d-flex align-items-center gap-1">See All
                <i class="icon feather icon-chevron-right font-18"></i>
            </a>
        </div>
    </div>

    <div class="container-fluid px-3">
        <div class="swiper swiper-product">
            <div class="swiper-wrapper product-style2">
                <div class="swiper-slide">
                    <div class="product-box style-2 wow fadeInUp" data-wow-delay="0.4s">
                        {% with bg_image='images/clothes/1.png' %}
                            <div class="product-media" style="background-image: url('{% static bg_image %}');"></div>
                        {% endwith %}
                        <div class="product-content">
                            <div class="main-content">
                                <span class="offer">20% Off</span>
                                <h2 class="product-name">Luxury Bras</h2>
                                <a href="shop-list.html" class="btn btn-outline-secondary btn-rounded btn-lg">Collect
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-box style-2 wow fadeInUp" data-wow-delay="0.6s">
                        {% with bg_image='images/clothes/2.png' %}
                            <div class="product-media" style="background-image: url('{% static bg_image %}');"></div>
                        {% endwith %}
                        <div class="product-content">
                            <div class="main-content">
                                <span class="offer">Sale Up to 50% Off</span>
                                <h2 class="sub-title1">Season <span class="year">2025</span></h2>
                                <a href="shop-list.html" class="btn btn-outline-secondary btn-rounded btn-lg">Collect Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-box style-2 wow fadeInUp" data-wow-delay="0.8s">
                        {% with bg_image='images/clothes/3.png' %}
                            <div class="product-media" style="background-image: url('{% static bg_image %}');"></div>
                        {% endwith %}
                        <div class="product-content">
                            <div class="main-content">
                                <span class="offer">20% Off</span>
                                <h2 class="sub-title2">Swimwear<span class="bg-title">Sale</span></h2>
                                <a href="shop-list.html" class="btn btn-outline-secondary btn-rounded btn-lg">Collect
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-box style-2 wow fadeInUp" data-wow-delay="1.0s">
                        {% with bg_image='images/clothes/1.png' %}
                            <div class="product-media" style="background-image: url('{% static bg_image %}');"></div>
                        {% endwith %}
                        <div class="product-content">
                            <div class="main-content">
                                <span class="offer">20% Off</span>
                                <h2 class="product-name">Luxury Bras</h2>
                                <a href="shop-list.html" class="btn btn-outline-secondary btn-rounded btn-lg">Collect
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-box style-2 wow fadeInUp" data-wow-delay="1.2s">
                        {% with bg_image='images/clothes/2.png' %}
                            <div class="product-media" style="background-image: url('{% static bg_image %}');"></div>
                        {% endwith %}
                        <div class="product-content">
                            <div class="main-content">
                                <span class="offer">Sale Up to 50% Off</span>
                                <h2 class="sub-title1">Season <span class="year">2025</span></h2>
                                <a href="shop-list.html" class="btn btn-outline-secondary btn-rounded btn-lg">Collect
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-box style-2 wow fadeInUp" data-wow-delay="1.4s">
                        {% with bg_image='images/clothes/3.png' %}
                            <div class="product-media" style="background-image: url('{% static bg_image %}');"></div>
                        {% endwith %}
                        <div class="product-content">
                            <div class="main-content">
                                <span class="offer">20% Off</span>
                                <h2 class="sub-title2">Swimwear<span class="bg-title">Sale</span></h2>
                                <a href="shop-list.html" class="btn btn-outline-secondary btn-rounded btn-lg">Collect
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>